# Игнорируем виртуальное окружение
venv/
.env

# Игнорируем файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Игнорируем статические файлы
staticfiles/

# Игнорируем IDE-файлы
.vscode/
.idea/

# Игнорируем логи
*.log
